<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Home</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

</head>
<body>

	<div class="row center">
		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/student/register">
				<div class="card-panel hoverable z-depth-1 center green lighten-5">
					<i class="large material-icons black-text">person_add</i>
					<div class="truncate black-text">New Student</div>
				</div>
			</a>
		</div>
		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/student/list">
				<div class="card-panel hoverable z-depth-1 center blue lighten-5">
					<i class="large material-icons black-text">search</i>
					<div class="truncate black-text">List</div>
				</div>
			</a>
		</div>
		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/student/searchname">
				<div class="card-panel hoverable z-depth-1 center blue lighten-5">
					<i class="large material-icons black-text">search</i>
					<div class="truncate black-text">Search by Name</div>
				</div>
			</a>
		</div>
		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/grade/searchgrade">
				<div class="card-panel hoverable z-depth-1 center blue lighten-5">
					<i class="large material-icons black-text">search</i>
					<div class="truncate black-text">Search by Grades</div>
				</div>
			</a>
		</div>
		<div class="col s12 m4 l4 waves-effect waves-light">
			<a href="/geolocation/searchloc">
					<div class="card-panel hoverable z-depth-1 center grey lighten-4">
						<i class="large material-icons ">my_location </i>
						<div class="truncate">Search by Location</div>
					</div>
			</a>
		</div>


	</div>


	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>